APP_PORT=5000

SECRET_KEY=replace-this-before-release

MYSQL_DATABASE=cybervoyrax
MYSQL_USER=cybervoyrax
MYSQL_PASSWORD=replace-this-database-password
MYSQL_ROOT_PASSWORD=replace-this-root-password

SESSION_COOKIE_NAME=cvx_session
SESSION_TTL_MINUTES=480
REMEMBER_SESSION_TTL_DAYS=14
REAUTH_TTL_MINUTES=10
